<html>
  <head>
    <title>xelA NFT</title>
    <link rel="stylesheet" href="/static/css/main.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <link rel="icon" type="image/x-icon" href="{{ nft.image }}"></link>
    <meta property="og:image" content="{{ nft.image }}" />
    <meta content="xelA NFT" property="og:title" />
    <meta content="Get your very own xelA NFT, for FREE!!1" property="og:description" />
  </head>
  <body>
    <main class="main-container">
      <h1 class="center-text">xelA NFT</h1>
      <p class="center-text">
        Your xelA NFT comes in <b>{{ nft.name }}</b>
        {% if nft.season != 'none' %}with <b>{{ nft.season }}</b> season{% endif %}
      </p>
      <p class="center-text">
        Show that you are proud by using this NFT as your avatar on Discord or on any other social media platform 💖
      </p>
      <a href="/download/{{ nft.hex.replace('#', '') }}/{{ nft.season }}" download id="nft-download">
        <img class="nft" src="{{ nft.image }}">
        <img class="cursor" src="/static/images/cursor.png">
      </a>
      <p class="center-text">
        <i>Anyways</i>, you can get xelA <a href="https://xela.dev/invite">here</a>
      </p>

      <div class="splitter"></div>

      <section class="testimonial-container">
        <div class="testimonial" id="test-effect">
          <a href="/steal/{{ nft.hex.replace('#', '') }}/{{ nft.season }}" download id="nft-steal">
            <img class="avatar" id="test-avatar" src="">
          </a>
          <div class="content">
            <p class="name" id="test-name">PLACEHOLDER</p>
            <p class="message" id="test-message">PLACEHOLDER</p>
          </div>
        </div>
        <script>
          // This code is bad, I know, but so is real NFT, so stop complaining
          const test_list = {{ testimonials | safe }}
          const effect = document.getElementById('test-effect')
          const avatar = document.getElementById('test-avatar')
          const name = document.getElementById('test-name')
          const message = document.getElementById('test-message')

          const nft = document.getElementById('nft-download')
          const nft_steal = document.getElementById('nft-steal')

          let test_should_move = true
          let counter = 0

          function updateTestimonial() {
            if (counter >= test_list.length) counter = 0
            let select_test = test_list[counter]
            name.innerText = select_test.name
            nft_steal.href = `/steal/${select_test.xela_colour}/${select_test.xela_season}`
            message.innerHTML = select_test.message
            avatar.src = `https://api.alexflipnote.dev/nft/${select_test.xela_colour}/${select_test.xela_season}`
            counter += 1
          }

          function fadeOutFadeIn() {
            if (!test_should_move) return
            effect.classList.add('fade-out')
            setTimeout(() => {
              updateTestimonial()
              setTimeout(() => { effect.classList.remove('fade-out') }, 250)
            }, 1000)
          }

          function play_the_funny() {
            new Audio("/static/audio/cash_register.mp3").play({ volume: 0.5 })
          }

          nft.addEventListener("click", () => { play_the_funny() })
          nft_steal.addEventListener("click", () => { play_the_funny() })
          effect.addEventListener("mouseover", () => { test_should_move = false })
          effect.addEventListener("mouseout", () => { test_should_move = true })

          updateTestimonial()
          setInterval(() => { fadeOutFadeIn() }, 7500)
        </script>
      </section>

      <div class="disclaimer">
        <p>
          Disclaimer: The NFT is generated by your IP to be more "unique".
          We do NOT store your IP at all, if you want to view for yourself, check
          the <a href="https://github.com/xelA/nft">source-code</a> for this page.
        </p>
      </div>

    </main>
  </body>
</html>
