<html>
  <head>
    <title>xelA NFT</title>
    <link rel="stylesheet" href="/static/css/main.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">

    <meta content="xelA NFT" property="og:title" />
    <meta content="Get your very own xelA NFT, for FREE!!1" property="og:description" />
  </head>
  <body>
    <main class="main-container">
      <h1 class="center-text">xelA NFT</h1>
      <p class="center-text">
        Your xelA NFT comes in <b>{{ nft.name }}</b>
        {% if nft.season != 'none' %}with <b>{{ nft.season }}</b> season{% endif %}
      </p>
      <p class="center-text">
        Show that you are proud by using this NFT as your avatar on Discord or on any other social media platform 💖
      </p>
      <a href="/download/{{ nft.hex.replace('#', '') }}/{{ nft.season }}" download id="nft-download">
        <img class="nft" src="{{ nft.image }}">
        <img class="cursor" src="/static/images/cursor.png">
      </a>
      <script>
        const nft = document.getElementById('nft-download')
        nft.addEventListener("click", () => {
          new Audio("/static/audio/cash_register.mp3").play(
            { volume: 0.5 }
          )
        })
      </script>
      <p class="center-text">
        <i>Anyways</i>, you can get xelA <a href="https://xela.dev/invite">here</a>
      </p>

      <section class="testimonial-container">
        <div class="testimonial" id="test-effect">
          <img class="avatar" id="test-avatar" src="">
          <div class="content">
            <p class="name" id="test-name">PLACEHOLDER</p>
            <p class="message" id="test-message">PLACEHOLDER</p>
          </div>
        </div>
        <script>
          // This code is bad, I know, but so is real NFT, so stop complaining
          const test_list = {{ testimonials | safe }}
          const effect = document.getElementById('test-effect')
          const avatar = document.getElementById('test-avatar')
          const name = document.getElementById('test-name')
          const message = document.getElementById('test-message')

          function updateTestimonial() {
            const test = test_list[Math.floor(Math.random() * test_list.length)]
            name.innerText = test.name
            message.innerText = test.message
            avatar.src = `https://api.alexflipnote.dev/nft/${test.xela_colour}/${test.xela_season}`
          }

          function fadeOutFadeIn() {
            effect.classList.add('fade-out')
            setTimeout(() => {
              updateTestimonial()
              setTimeout(() => {
                effect.classList.remove('fade-out')
              }, 250)
            }, 1000)
          }

          updateTestimonial()
          setInterval(() => { fadeOutFadeIn() }, 5000)
        </script>
      </section>

      <div class="disclaimer">
        <p>
          Disclaimer: The NFT is generated by your IP to be more "unique".
          We do NOT store your IP at all, if you want to view for yourself, check
          the <a href="https://github.com/xelA/nft">source-code</a> for this page.
        </p>
      </div>

    </main>
  </body>
</html>
